@import "../dist/output.css";

.formshadow {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
body::-webkit-scrollbar {
  display: none;
}

.ant-tabs-nav-list {
  margin: auto;
  display: flex;
  gap: 4rem;
}
.ant-tabs-tab-btn {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
